{% extends 'base.html' %}

{% block title %}Сервис проверки{% endblock %}

{% block content %}
  <div class="container py-5">
    <article>
      <h3>
        Добро пожаловать!
      </h3>
      <p>
        Это сервис, предназначенный для проверки файлов с расширением <b>.py</b>.
        Предполагается, что пользователь загружает сюда свои файлы с требуемым расширением, а сервис автоматически проверяет эти файлы на соответствие PEP 8, генерирует отчет и отправляет его пользователю.
      </p>
    </article>

  </div>
{% endblock %}